/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define NUMBER 1
#define NAVIGATION 2
#define FUNCTION 3

/ {
    chosen { zmk,matrix_transform = &five_column_transform; };

    keymap {
        compatible = "zmk,keymap";

        default {
            bindings = <
                &mt ESC Q       &kp W           &kp E           &kp R           &kp T           &kp Y           &kp U           &kp I           &kp O           &kp P
                &hm LCTRL A     &kp S           &hm LALT D      &hm LSHFT F     &kp G           &kp H           &hm RSHFT J     &hm RALT K      &kp L           &nalt_tild
                &kp Z           &kp X           &kp C           &kp V           &kp B           &kp N           &kp M           &kp COMMA       &kp DOT         &slash_bck 
                                                &mt LGUI TAB    &mo NAVIGATION  &kp BSPC        &kp SPACE       &mo NUMBER      &mt RGUI ENTER
            >;
        };

        numbers {
            bindings = <
                &kp GRAVE       &at_grave       &kp HASH        &kp LBRC        &kp RBRC        &kp ASTERISK    &kp KP_N7       &kp KP_N8       &kp KP_N9       &kp SLASH
                &kp DOLLAR      &aper_neg       &excls          &hm LSHFT LPAR  &kp RPAR        &kp KP_SLASH    &hm RSHFT KP_N4 &kp KP_N5       &kp KP_N6       &plus_pow
                &kp PRCNT       &single_double  &interogs       &brack_less     &brack_less     &kp KP_N0       &kp KP_N1       &kp KP_N2       &kp KP_N3       &ecual_virg 
                                                &kp SPACE       &mo FUNCTION    &kp BSPC        &none           &mo NUMBER      &none
            >;
        };
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        // default

        slash_bck: slash_bck {
            compatible = "zmk,behavior-mod-morph";
            label = "SLASH_BCK";
            bindings = <&slash_pip>, <&kp RA(N1)>;

            #binding-cells = <0>;
            mods = <(MOD_LALT|MOD_RALT)>;
            keep-mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        slash_pip: slash_pip {
            compatible = "zmk,behavior-mod-morph";
            label = "SLASH_PIP";
            bindings = <&kp LS(N7)>, <&kp RA(GRAVE)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        nalt_tild: nalt_tild {
            compatible = "zmk,behavior-mod-morph";
            label = "NALT_TILD";
            bindings = <&kp SEMI>, <&kp APOS>;

            #binding-cells = <0>;
            mods = <(MOD_LALT|MOD_RALT)>;
            keep-mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // nums 

        at_grave: at_grave {
            compatible = "zmk,behavior-mod-morph";
            label = "AT_GRAVE";
            bindings = <&kp AT>, <&kp LBKT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        aper_neg: aper_neg {
            compatible = "zmk,behavior-mod-morph";
            label = "APER_NEG";
            bindings = <&kp LS(N6)>, <&kp RA(N6)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        excls: excls {
            compatible = "zmk,behavior-mod-morph";
            label = "EXCLS";
            bindings = <&hm LGUI EQUAL>, <&hm LGUI LS(N1)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        plus_pow: plus_pow {
            compatible = "zmk,behavior-mod-morph";
            label = "PLUS_POW";
            bindings = <&kp PLUS>, <&kp LS(LBKT)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        single_double: single_double {
            compatible = "zmk,behavior-mod-morph";
            label = "SINGLE_DOUBLE";
            bindings = <&kp MINUS>, <&kp LS(N2)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        interogs: interogs {
            compatible = "zmk,behavior-mod-morph";
            label = "INTEROGS";
            bindings = <&kp LS(EQUAL)>, <&kp LS(MINUS)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        brack_less: brack_less {
            compatible = "zmk,behavior-mod-morph";
            label = "BRACK_LESS";
            bindings = <&kp RA(LBKT)>, <&kp BSLH>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        brack_grtr: brack_grtr {
            compatible = "zmk,behavior-mod-morph";
            label = "BRACK_GRTR";
            bindings = <&kp RA(RBKT)>, <&kp LS(BSLH)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        ecual_virg: ecual_virg {
            compatible = "zmk,behavior-mod-morph";
            label = "ECUAL_VIRG";
            bindings = <&kp LS(N0)>, <&kp RA(N4)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};